<button class="sidebar-toggle material-symbols-rounded" id="sidebar-toggle">
    menu
</button>

<nav class="sidebar" id="sidebar">
    <div class="sidebar-title"><span class="accent-text">Audio</span>.io</div>

    <a
        class="btn sidebar-link {% if active_page == 'player' %}active{% endif %}"
        href="/"
    >
        Player
    </a>

    <a
        class="btn sidebar-link {% if active_page == 'downloads' %}active{% endif %}"
        href="/downloads"
    >
        Downloads
    </a>

    <a
        class="btn sidebar-link {% if active_page == 'playlists' %}active{% endif %}"
        href="/playlists"
    >
        Playlists
    </a>

    <a
        class="btn sidebar-link {% if active_page == 'settings' %}active{% endif %}"
        href="/settings"
    >
        Settings
    </a>
</nav>

<script src="/static/js/sidebar.js"></script>
